
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}


.logo img {
    padding-left: 40px;
    height: 33px;
}

.search-bar {
    flex: 1;
}

.search-bar input {
    width: 70%;
    padding: 8px;
    border: 1px solid #0000FF;
    border-radius: 4px 4px 4px 4px;
}



.search-bar button {
    padding: 8px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px 4px 4px 4px;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.search-btn{
    display: none;
}

.icon-container {
    display: flex; /* Activar flexbox */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
}

.icon-container img {
    padding-left: 3px; 
    padding-right: 3px;
    padding-top: 5px;
    object-fit: contain; 
}

.icon {
    margin-right: 10px;
    align-items: center; /* Centra los elementos */
    text-align: center;
}


#turbina{
    height: 25px;
}

p{
    font-weight: 550;
}


.icon p{
    margin: 0%;
    font-size: 11px;
}


.icon:hover img {
    transform: scale(1.1);
    filter: brightness(80%); 
}


.icon:hover p {
    color: rgba(3, 3, 153, 0.637); 
    text-decoration: underline;
}










@media (max-width: 768px) {

    
    .header {
        flex-direction: column; /* Cambiar disposición a vertical */
        align-items: center; /* Centrar los elementos */
        gap: 15px; /* Espacio entre elementos */
    }
    
    .logo img {
        padding-left: 0; /* Eliminar el padding */
        height: auto; /* Ajustar el tamaño si es necesario */
        width: 120px;
        display: block; /* Para centrar, aseguramos que sea un elemento block */
        margin: 0 auto; /* Centra horizontalmente */
        
    }

    .search-bar {
        width: 100%; /* Barra de búsqueda ocupa todo el ancho */
        margin: 0; /* Quita márgenes adicionales */
        display: flex; /* Activa flexbox en el contenedor */
        align-items: center; /* Alinea los elementos verticalmente */
        justify-content: center; /* Opcional: centra los elementos horizontalmente */
        gap: 3.5px; 
    }

   

    .search-bar input {
        width: 80%; /* Ajustar ancho del input */
        margin: 0;
    }


    .search-btn-desktop{
        display: none;
    }

    .search-btn{
        display: block;
    }

   
}



