body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}


.logo img {
    padding-left: 40px;
    height: 33px;
}

.search-bar {
    flex: 1;
}

.search-bar input {
    width: 70%;
    padding: 8px;
    border: 1px solid #0000FF;
    border-radius: 4px 4px 4px 4px;
}



.search-bar button {
    padding: 8px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px 4px 4px 4px;
}

.search-bar button:hover {
    background-color: #0056b3;
}

.search-btn{
    display: none;
}


@media (max-width: 768px) {

    
    .header {
        flex-direction: column; /* Cambiar disposición a vertical */
        align-items: center; /* Centrar los elementos */
        gap: 15px; /* Espacio entre elementos */
    }
    
    .logo img {
        padding-left: 0; /* Eliminar el padding */
        height: auto; /* Ajustar el tamaño si es necesario */
        width: 120px;
        display: block; /* Para centrar, aseguramos que sea un elemento block */
        margin: 0 auto; /* Centra horizontalmente */
        
    }

    .search-bar {
        width: 100%; /* Barra de búsqueda ocupa todo el ancho */
        margin: 0; /* Quita márgenes adicionales */
    }

   

    .search-bar input {
        width: 80%; /* Ajustar ancho del input */
    }


    button{
        display: none;
    }

    /* .search-btn {
        background-color: #007BFF;
        border: none;
        color: white;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
    }
    
    .search-btn .lupa {
        font-size: 18px;
    } */
}



